<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" >
    <div class="row">
        <div class="col-md-12 mx-auto">
    <h1><%=employee.username%></h1>
    <p>FULL NAME : <%=employee.username%></p>
    <p>TUỔI : <%=employee.age%></p>
    <p>MÃ NHÂN VIÊN :<%=employee.code%></p>
    <p>LƯƠNG : <%=employee.salary%></p>
    <p>PHÒNG :<%=employee.branch%></p>
</div>
</div>
</div>
</body>
</html>